<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles/main.scss" />
  </head>
  <body>
    <h1>Welcome to the Home Page</h1>
    <a href="/login">Login</a> | <a href="/register">Register</a> |
    <a href="/logoff">Log Off</a>
  </body>
</html>
