// Sample Styling in SCSS

// main.scss
@import "variables";
@import "mixins";

body {
  font-family: $font-stack;
  color: $primary-color;
}

h1 {
  @include flex-center;
  font-size: 2em;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Sample Styling in CSS

// body {
//   font-family: Arial, sans-serif;
//   margin: 20px;
//   padding: 20px;
// }

// h1 {
//   color: #333;
// }

// form {
//   margin-top: 20px;
// }

// label {
//   display: block;
//   margin-top: 10px;
// }

// input {
//   padding: 5px;
//   margin-top: 5px;
// }

// button {
//   margin-top: 10px;
//   padding: 10px;
//   background-color: #5cb85c;
//   color: #fff;
//   border: none;
//   cursor: pointer;
// }

// a {
//   display: block;
//   margin-top: 20px;
//   color: #007bff;
//   text-decoration: none;
// }
